/* PANTALLA  */

.pantalla {
  display: flex;
  gap: 3vw;
}

/* LISAT SALAS */

.lista-salas-section {
  background-color: rgb(8, 8, 8);
  padding: 1em;
}

.lista-salas-section ul {
  list-style: none;
}

.lista-salas-section li {
  list-style: none;
  border-bottom: 1px solid rgb(114, 117, 121);
  cursor: pointer;
}

/*   SALA    */

.sala {
  height: 92vh;
  width: 100%;
}


/*   CHAT    */

.chat-section {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 80vh;
  
  overflow-y: scroll;
}

.chat-section li {
  width: fit-content;
  display: flex;
  gap: 1em;
}

.chat-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mensaje {
  background-color: black;
  padding: .4em 1em;
  border-radius: .4em;
}


/* MENSAJEADOR */

.caja-mensaje {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 60px;
  width: 100%;
  background-color: black;
}

.caja-mensaje input {
  background-color: inherit;
  width: 80%;
  height: 50%;
  color: aliceblue;
  font-size: 1em;

  padding: .2em 1em;
  border-radius: .4em;
}

.caja-mensaje button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  background-color: #25D366;
  font-size: 1.2em;
  color: rgb(29, 29, 29);
}



/* PESTAÑA USUARIO */

.pestaña-usuario-section {
  min-width: 140px;
  position: fixed;
  right: 0;
  background-color: rgb(8, 8, 8);
  padding: 1em;
  border-radius: 0 0 .6em .6em;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pestaña-usuario-section .info {
  display: flex;
  align-items: center;
  gap: 1em;
} 

.pestaña-usuario-section img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botones button {
  padding: .4em;
  border-radius: 1em;
}

.botones .link {
  width: 100px;
  margin: auto;
  cursor: pointer;

  background-color: #25D366;
  color: rgb(0, 0, 0);
  
  padding: .4em 1em;
  border-radius: .4em;

  font-size: .8em;
}

.tip {
  background-color: inherit;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.form-edit-user {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-edit-user input {
  padding: .4em;
  border-radius: .6em;
}

.form-edit-user button {
  width: fit-content;
  padding: 1em 2em;
  margin: auto;
  border-radius: 1em;
}