.log-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.log-section form {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 360px;
}

.log-section input {
  height: 30px;
  border-radius: .4em;
  font-size: 1em;
  padding: .1em .6em;
}

.log-section button {
  height: 40px;
  width: 100px;
  margin: auto;
  cursor: pointer;

  background-color: #25D366;
  color: rgb(0, 0, 0);
  
  padding: .4em 1em;
  border-radius: .4em;

  font-size: .8em;
}


/* error */

.error {
  color: red;
  margin: 0;
  font-size: .9em;
}